body{
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 50px;
}
.another-color{
    color: darkorange;
}
.flexible-container{
    display: flex;
    margin-left: 40px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
    margin-left: 20px;
}
.explore-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, rgb(184, 18, 18));
    padding: 10px 40px;
    border-radius: 10px;

}
.scroll-down{
    margin-top: 50px;
}
.first-pera{
    margin-bottom: 40px;
}